# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
WEBHOOK_SECRET=

# UBIQUIBOT[DEVELOPMENT]
APP_ID=
PRIVATE_KEY=
SUPABASE_PROJECT_URL=
SUPABASE_PROJECT_KEY=
FOLLOW_UP_TIME=
DISQUALIFY_TIME=

# Payments

# Change this to a new Ethereum private key https://dao.ubq.fi/ubiquibot-setup
EVM_SIGNING_KEY="ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
# Hardhat test account: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
# Derived from `test test test test test test test test test test test junk`

# DAI Stablecoin
PAYMENT_TOKEN="0x6B175474E89094C44Da98b954EedeAC495271d0F"
PAYMENT_DAPP_DOMAIN="https://pay.ubq.fi"
CHAIN_ID=1
RPC_PROVIDER_URL="https://rpc-pay.ubq.fi/v1/mainnet"