body {
    font-family: Arial, sans-serif;
}

.log-container {
    margin: 20px auto;
    width: 95%;
}

.log-cell {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    max-width: 476px;
    /* Adjust the maximum width as needed */
    overflow: auto;
    /* Allow scrolling if the content is too long */
    white-space: pre-wrap;
}

#log-table {
    margin: 20px auto;
    width: 95%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
    table-layout: fixed;
}

#log-table th,
#log-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    color: black;
}

#log-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

#log-body {
    max-height: 400px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 600px;
}

td,
th {
    padding: 10px;
    text-align: left;
    margin: 0;
    color: black;
}

tbody tr:nth-child(2n) {
    background-color: #eee;
}

th {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
}

select,
button {
    margin-right: 10px;
}

#filter {
    font-family: Arial, sans-serif;
    padding: 8px 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s;
}

#filter:hover {
    border-color: #999;
}

/* Styling for button element */
#clear {
    font-family: Arial, sans-serif;
    padding: 8px 12px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#clear:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    /* Center horizontally and vertically */
}

.modal-content {
    background-color: white;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    height: 75vh;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.json-content {
    overflow: auto;
    height: 70vh;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: pre-wrap;
}